html{
    min-height: 100%;
    /*direction: rtl;*/
}
body {
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-position: bottom;
    background-color: #d2d6de;
    min-height: 100%;
    /*font-family: 'WYekan','Helvetica Neue',Helvetica,Atahoma;*/
    /*font-size: 20px !important;*/

}
form{
    padding: 20px;
    margin-top: 60px;
}
form button, form h5{
    margin: 20px 0;
}

.input-field>label{
    right: 0;
}

nav{
    background-color: #424242;
}
.nav-link a{
    color: #796173 !important;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
    padding: 5px 10px;
}

.bm-item:hover {
    color: white;
    background-color: #796173;
    text-decoration: none;
    padding: 5px 10px;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 8px;
}

.bm-burger-bars {
    background: #796173;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap{
    width: 200px !important;
    text-align: right;
}
.bm-menu {
    background: #424242 ;
    padding: 2em 1em 0;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 0 !important;
}

.btn-new{
    border-radius: 5px;
    padding: 10px;
    background-color: dodgerblue;
}

.custom-ui{
    background-color: #d2d6de;
    padding: 20px;
    border-radius: 5px;
}
